* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}
body h2 {
  text-transform: uppercase;
  color: #020258;
  margin: 5px;
}
body ul {
  list-style: none;
  margin-top: 40px;
}
body ul > li {
  display: inline-block;
  text-transform: capitalize;
  margin: 0 10px;
}
body ul > li > a {
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
body ul > li > a.active {
  background-color: #B2E5FC;
}
body header {
  width: 100%;
  text-align: center;
}
body header img {
  margin: 50px 0;
}
body .container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-colum {
  flex-direction: column;
}

main.home {
  padding: 50px 0;
  background-image: url("../images/fondo-pag-speciali.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
main.home .card {
  flex-basis: calc(calc(100%/3) - 10px);
  margin: 5px;
}
main.home .card > img {
  width: 100%;
}

.menu {
  display: none;
  margin-bottom: 20px;
}
.menu a {
  color: #020258;
}

nav {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .menu {
    display: block;
  }

  nav {
    display: none;
  }

  .cards > .card {
    flex-basis: calc(calc(100%/2) - 10px);
  }
}
@media only screen and (max-width: 720px) {
  .cards > .card {
    flex-basis: calc(100% - 10px);
  }
}
main.prodotti {
  background-color: #B6DBE4;
  justify-content: center;
}
main.prodotti h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
main.prodotti a {
  color: #fff;
}
main.prodotti a i {
  font-size: 60px;
  background-color: #DCEDF2;
  padding: 5px;
}
main.prodotti .top_content {
  height: 10vw;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
main.prodotti .mid_content {
  height: 25vw;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
main.prodotti .left_content, main.prodotti .right_content {
  width: 10%;
  align-items: center;
}
main.prodotti .right_content {
  display: flex;
  justify-content: flex-end;
}
main.prodotti .bottom_content {
  color: #020258;
  font-weight: 600;
  padding: 100px;
}

footer {
  color: grey;
}
footer .left {
  margin-top: 50px;
  margin-left: 50px;
  flex-basis: 1;
  flex: 1;
}
footer .right {
  flex-basis: 2;
  flex: 2;
  margin: 50px;
  justify-content: space-between;
}
footer .right h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .right .footer_list {
  flex-basis: calc(100%/2);
}
footer .right .footer_list ul {
  flex-direction: column;
  margin-bottom: 20px;
}
footer .right .footer_list ul li {
  margin: 5px 0;
}
footer .right .footer_list ul li a {
  color: grey;
}

@media only screen and (max-width: 1280px) {
  .container {
    flex-direction: column;
  }
  .container .right {
    flex-direction: column;
  }
}
