* {
    margin: 0;
    padding: 0;
}
body{

    h2{
        text-transform: uppercase;
        color: rgb(2, 2, 88);
        margin: 5px;
    }
    font-family: 'Open Sans', sans-serif;
    ul{
        list-style: none;
        
        
        li{
            display: inline-block;
            text-transform: capitalize;
            margin: 10px;

            a{
                text-decoration: none;
                font-weight: bold;
                color: $textColorSec;
            }
        }
    }

    header{
        padding: 50px 0;
        width: 100%;
        text-align: center;
    }

    main{
        padding: 50px;
        background-image: url("../images/fondo-pag-speciali.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

 
            .card{
                width: 470px;
                margin: 5px;
    
    
               > img{
                    width: 100%;
                }
            }
        
     
    }
    .container{
        width: $width-container;
        margin: 0 auto;
    }


}



