* {
    margin: 0;
    padding: 0;
}
body{

    h2{
        text-transform: uppercase;
        color: rgb(2, 2, 88);
        margin: 5px;
    }
    font-family: 'Open Sans', sans-serif;

    ul{
        list-style: none;
       margin-top: 40px;
        
      >  li{
            display: inline-block;
            text-transform: capitalize;
            margin:  0 10px;

           > a{
                align-items: center;
                justify-content: center;
                padding: 25px 10px;
                text-decoration: none;
                font-weight: bold;
                color: $textColorSec;
            }

            > a.active{
                background-color: #B2E5FC;
            
            }
        }

  
    }

    header{
        width: 100%;
        text-align: center;

        img{
            margin: 50px 0;
        }
    }

    .container{
        width: $width-container;
        margin: 0 auto;
    }


}

