.menu{
    display: none;
    margin-bottom: 20px;
    a{
        color: rgb(2, 2, 88)};
     }

nav{
    display: block;
}

@media only screen and(max-width: 1280px) {    
 
    .menu{
        display: block;
       }
    nav{
        display: none;
    }

    .cards{
        > .card{
            flex-basis: calc(calc(100%/2) - 10px);
    
        }
    }
 
}
@media only screen and(max-width: 720px) {    

    .cards{
        > .card{
            flex-basis: calc(100% - 10px);
    
        }
    }
    
}
